<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzro.mapper.CgroupMapper">
    <insert id="insert">
        INSERT INTO `ggroup`(`name`) VALUES (#{name})
    </insert>
    <update id="update">
        UPDATE `ggroup` SET `name` = #{name}
    </update>
    <delete id="delete">
        DELETE FROM `ggroup` WHERE `id` = #{id}
    </delete>
    <select id="selectAll" resultType="com.xzro.bean.Cgroup">
        SELECT * FROM `ggroup` WHERE `name` = CONCAT('%',#{name},'%')
    </select>
</mapper>