<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzro.mapper.GgroupMapper">
    <insert id="insert">
        INSERT INTO `ggroup`(`name`)  VALUES (#{name})
    </insert>
    <update id="update">
        UPDATE `ggroup` SET `name` = #{name} WHERE `id` = #{id}
    </update>
    <delete id="delete">
        DELETE FROM `ggroup` WHERE `id` = #{id}
    </delete>
    <select id="selectAll" resultType="com.xzro.bean.Ggroup">
        SELECT * FROM `ggroup`
    </select>
    <select id="selectById" resultType="com.xzro.bean.Ggroup">
        SELECT * FROM `ggroup` WHERE `id` = #{id}
    </select>

</mapper>