<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzro.mapper.OrdersMapper">
    <!--订单映射商品-->
    <resultMap id="orderMap" type="order">
        <id column="id" property="id"></id>
        <result column="order_no" property="orderNo"></result>
        <result column="status" property="status"></result>
        <result column="paid_price" property="paidPrice"></result>
        <result column="payment_method" property="paymentMethod"></result>
        <result column="start_date" property="startDate"></result>
        <result column="end_date" property="endDate"></result>
        <result column="customer_id" property="customerId"></result>
        <association property="customer" javaType="customer">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="name" property="name"/>
            <result column="gender" property="gender"/>
            <result column="age" property="age"/>
            <result column="phone" property="phone"/>
            <result column="status" property="status"/>
            <result column="customer_group_id" property="groupId"/>
        </association>
        <collection property="goods" ofType="good" select="selectGoods" column="id">
            <id column="good_id" property="id"/>
            <result column="good_name" property="name"/>
            <result column="img" property="img"/>
            <result column="description" property="description"/>
            <result column="cost" property="cost"/>
            <result column="price" property="price"/>
            <result column="stock" property="stock"/>
            <result column="sales_volume" property="salesVolume"/>
        </collection>
    </resultMap>

    <insert id="insert" useGeneratedKeys = "true" keyProperty="id">
        INSERT INTO `orders` ( `order_no`, `status`, `paid_price`, `payment_method`, `customer_id`, `start_date`, `end_date`)
        VALUES (#{orderNo}, #{status}, #{paidPrice}, #{paymentMethod}, #{customerId}, #{startDate}, #{endDate});
    </insert>
    <insert id="insertAssociate">
        INSERT INTO `goodmanager`.`order_good` (`order_id`, `good_id`) VALUES
        <foreach collection="goods" item="good" separator=",">
            (#{id},#{good})
        </foreach>
    </insert>
    <update id="update">
        UPDATE `orders` SET `order_no` = #{orderNo}, `status` = #{status}, `paid_price` =  #{paidPrice}, `payment_method` =  #{paymentMethod}, `customer_id` =  #{customerId}, `start_date` =  #{startDate}, `end_date` =  #{endDate} WHERE `id` =  #{id};
    </update>
    <update id="delete">
        UPDATE  `orders` SET `isDelete` = 1 WHERE `id` = #{id}
    </update>
    <delete id="deleteAssociate">
        DELETE
        FROM `order_good`
        WHERE `order_id` = #{id}
    </delete>
    <!--嵌套查询-->
    <!--父查询-->
    <select id="selectAll" resultMap="orderMap">
        SELECT o.*, c.*
        FROM `orders` o
        LEFT JOIN `customer` c
        ON o.`customer_id` = c.`id`
        WHERE o.`order_no` LIKE CONCAT('%',#{orderNo},'%') AND o.`isDelete` = 0
        <if test="id!=null">
            <if test="id!=0">
                AND `customer_id` = #{id}
            </if>
        </if>
    </select>
    <!--子查询-->
    <select id="selectGoods" resultType="good">
        SELECT * FROM `goods` g LEFT JOIN `order_good` og ON g.`id` = og.`good_id` WHERE og.`order_id` = #{id}
    </select>
    <select id="selectById" resultMap="orderMap">
        SELECT o.*, c.*
        FROM `orders` o
        LEFT JOIN `customer` c
        ON o.`customer_id` = c.`id`
        WHERE o.`id` = #{id} AND o.`isDelete` = 0;
    </select>
</mapper>